@import 'variables/color_variables.scss';
@import 'components/button.scss';
@import 'components/parallax.scss';
@import 'mixins/compatibility.scss';

/*******************************************************
GENERAL
*******************************************************/

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: $primary;
}

* {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: $secondary-text;
}

h1 {
  font-size: 1.8em;
}

hr {
  border: 1px solid #3c9;
  width: 30px;

  &.left {
    margin: 0;
  }
}

/*******************************************************
FORMS
*******************************************************/

form {
  padding: 0 5px 0 5px;
}

input, textarea {
  display: block;
  color: $primary-text;
  margin-top: 10px;
  background-color: transparent;
  padding: 10px 0 10px 10px;
  border: 2px solid $primary-text;
  border-radius: 5px;
  width: calc(100% - 10px);
  font-size: 1.1em;
}

.secondary {
  border-color: #DADADA;
  color: #DADADA;
}

input:focus,
textarea:focus,
button:focus {
  outline-color: $secondary;
}

input {
  height: 20px;
}

textarea {
  resize: none;
  min-height: 70px;
}


/********************************************************
CUSTOM FILE INPUT
********************************************************/

.file-input {
  padding: 10px 0 10px 10px;
  border: 2px solid #DADADA;
  border-radius: 5px;
  color: #DADADA;
  min-width: 85%;
  display: inline-block;
  text-align: left;

  .icon {
    float: right;
    font-size: 1.3em;
    margin-right: 15px;
  }
}

input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/********************************************************
CUSTOM CHECKBOX INPUT
********************************************************/

input[type=checkbox].css-checkbox {
  position: absolute; 
  z-index: -1000; 
  left: -1000px; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px;
  width: 1px; 
  margin: -1px; 
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 33px;
  height: 28px; 
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size :28px;
  vertical-align: middle;
  cursor: pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -28px;
}

label.css-label {
  background-image: url(../images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*******************************************************
COMMON COMPONENTS
*******************************************************/

.arrow {
  width: 20px;

  &.down {
    transform: rotate(180deg);
  }
}

.button-secondary {
  @extend .button;
  margin-top: 10px;
  color: $terciary-text;
  border-color: $terciary-text;
}

.section {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  overflow: hidden;
  color: $primary-text;
}

.logo-landing {
  width: 100px;
  position: absolute;
  top: 30px;
  left: 20px;
}

/*******************************************************
HELPERS
*******************************************************/

.center {
  text-align: center;
}

/*******************************************************
FOOTER
*******************************************************/

.page-footer {
  background-color: $primary;
  background: url('../images/background-decoration-purple-light.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  padding: 20px 20px;
}

.slogan {
  flex: 1.4;
  color: $secondary;
  margin-right: 25px;

  p {
    margin-bottom: 10px;
  }

  img {
    margin-left: 10px;
  }
}

.slogan,
.social {
  p { font-size: 1.5em; }
}

footer .social {
  flex: 0.9;
  color: $grey;
  text-align: right;

  img:not(:last-child) {
    margin-right: 5px;
  }
}