@import 'variables/color_variables.scss';
@import 'variables/_variables.scss';
@import 'components/button.scss';
@import 'components/parallax.scss';
@import 'mixins/compatibility.scss';

/*******************************************************
GENERAL
*******************************************************/

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: $primary;
}

* {
  font-family: $primary-font;
}

p {
  font-family: $secondary-font;
}

a {
  text-decoration: none;
  color: $secondary-text;
}

h1 {
  font-size: 1.8em;
  font-weight: 800;
  font-family: $primary-font;
}

hr {
  border: 1px solid #3c9;
  width: 30px;

  &.left {
    margin: 0;
  }
}

/*******************************************************
FORMS
*******************************************************/

form {
  padding: 0 5px 0 5px;
}

input, textarea {
  display: block;
  color: $primary-text;
  margin-top: 10px;
  background-color: transparent;
  padding: 10px;
  border: 2px solid $primary-text;
  border-radius: 5px;
  width: calc(100% - 20px);
  font-size: 1.1em;
  text-decoration-color: $secondary;
}

.secondary {
  border-color: #DADADA;
  color: #DADADA;
}

input:focus,
textarea:focus,
button:focus {
  outline-color: $secondary;
}

input {
  height: 20px;
}

textarea {
  resize: none;
  min-height: 100px;
}


/********************************************************
CUSTOM FILE INPUT
********************************************************/

.file-input {
  padding: 10px 0 10px 10px;
  border: 2px solid #DADADA;
  border-radius: 5px;
  color: #DADADA;
  min-width: 85%;
  display: inline-block;
  text-align: left;

  .icon {
    float: right;
    font-size: 1.3em;
    margin-right: 15px;
  }
}

input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/********************************************************
CUSTOM CHECKBOX INPUT
********************************************************/

input[type=checkbox].css-checkbox {
  position: absolute; 
  z-index: -1000; 
  left: -1000px; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px;
  width: 1px; 
  margin: -1px; 
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 33px;
  height: 28px; 
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size :28px;
  vertical-align: middle;
  cursor: pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -28px;
}

label.css-label {
  background-image: url(../images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    white;
}

/*******************************************************
ICONS
*******************************************************/

@keyframes floatingCaret {
  50% {transform: translateY(5px) }
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  
  .logo-landing {
    padding: 15px 0 0 20px;
    height: 20px;
    width: 20px;
    @include zoom(6);

    .caret-down {
      animation: floatingCaret 1s infinite;
    }
  }
}

path {
  pointer-events:all;
}

@keyframes eyebrows {
  0% { transform: translate(0, 0) }
  10% { transform: translate(0, -1px) }
  50% { transform: translate(0, 0) }
}

.ubykuo-icon {
  fill: white;
  transform-origin: 50% 50%;
  transition: transform .8s ease-in-out;

  &.green {
    fill: $secondary;
  }

}

.smile-container {
   .smile { 
    .eyebrows {
      transition: transform 2s ease-in;
    }
   }
  &:hover {
    .smile {
      .eyebrows {
        animation: eyebrows 2s;
      }
    }

  }
}

/*******************************************************
COMMON COMPONENTS
*******************************************************/

.arrow {
  width: 20px;

  &.down {
    transform: rotate(180deg);
  }
}

.button-secondary {
  @extend .button;
  margin-top: 10px;
  color: $terciary-text;
  border-color: $terciary-text;
}

.section {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  overflow: hidden;
  color: $primary-text;
}

/*******************************************************
HELPERS
*******************************************************/

.center {
  text-align: center;
}

/*******************************************************
FOOTER
*******************************************************/

.page-footer {
  background-color: $primary;
  background: url('../images/background-decoration-purple-light.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  padding: 20px 20px;
  // width: 100%;
}

.slogan {
  flex: 1.4;
  color: $secondary;

  p {
    margin-bottom: 10px;
  }

  img {
    margin-left: 10px;
  }
}

.slogan,
.social {
  p { font-size: 1.5em; }
}

footer .social {
  flex: 0.9;
  color: $grey;
  text-align: right;

  img:not(:last-child) {
    margin-right: 5px;
  }

  .options { display: none; }
}

.adresses { display: none; }

/*******************************************************
TABLET 
*******************************************************/
@media (min-width: 641px) {
  .page-footer {
    font-size: 1.1em;
    padding-bottom: 40px;

    .adresses {
      color: white;
      display: block;
      flex: 1.5;
      padding-left: 10vw;
      
      .coffee {
        color: #9933ff;
      }
      
      p {
        margin-top: 10px;
      }

      .countries {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .country {
          flex: 1 0 45%;
          margin-right: 15px;
          color: white;
          
          hr {
            margin-left: 0;
          }
        }
      }
    }

    .slogan {
      flex: 0.8;
      margin: 0;
      
      p {
        margin: 0;
      }
    }

    .social {
      text-align: center;
      font-size: initial;
      padding-top: 20px;
      
      p {
        font-size: 1em;
      }
      
      .options {
        display: block !important;
        p {
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
        }
      }
      
    
      
      .options:first-child {
        margin-top: 20px;
      }

      
      .follow {
        display: none;
      }
    }
  }
}