@import 'common.scss';

.landing {
  align-items: center;
  text-align: center;
  padding-top: 110px;
  background: linear-gradient(to top, #306, #5e0bb1);
  color: white;
  display: block;
}

.smile-container {
  width: 50px;
}

.phrase {
  margin-top: 5px;
  padding: 0 20vw;
}

.file-input {
  margin: 50px 0 20px 0;
  min-width: 250px;
}

.background-video {
  display: none;
}

.tablet-form {
  display: none;
}

@media (min-width: 641px) {
  .navigation {
    z-index: 3;
  }

  .video-overlay {
    width: 100vw;
    height: 100%;
  }
  
  .mobile-form {
    display: none;
  }

  .landing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  .tablet-form {
    display: block;
    max-width: 40vw;
    padding: 40px;
    background-color: rgba($primary, 0.9);
    text-align: left;
    margin-left: 20vw;
    margin-bottom: 40px;
    z-index: 10;
    max-height: 300px;
    font-size: 0.8em;
  }

  .video-overlay {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
  }

  .background-video {
    display: block;
    width: 100vw;
    top: 0;
  }

  .page-footer {
    margin-top: 20px;
    position: absolute;
    width: 100vw;
    z-index: 2;
  }

  .navigation {
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  .tablet-form {
    margin-top: 10vw;
  }

  .background-video {
    transform: scaleX(1.2);
  }
}
