@import 'common.scss';

/*******************************************************
LANDING SECTION
*******************************************************/

.landing {
    @extend .section;
    @include parallax('../images/background-landing-estatico.png', 'cover', 50% 50%);
    @include align-items('center');
    
    text-align: left;
    border: 15px solid $primary;


    -webkit-justify-content: space-around;
    justify-content: flex-start;

    max-width: 600px;
    
    .claim {
        padding: 110px 50px 0 50px;
        text-align: left;
        font-family: 'Raleway', sans-serif;
    
        .title {
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 80%;
            font-size: 55px;
        }

        .slogan {
            font-weight: lighter;
        }
    }

    .swipe-down {
        margin-top: 120px;
        margin-bottom: 20px;
        color: $secondary;
        
        img {
            margin: 0 30px;
        }
    }
}




/*******************************************************
OFFERS SECTION
*******************************************************/

.offer {
  flex: 1 100%;
  text-align: center;
  margin: 15px;
  background-color: white;
  color: $secondary-text;

  .content {
    padding: 40px 40px 20px 40px;
    
    .icon {
      width: 50%;
      margin: 25px 0;
    }
    
    .learn-more {
      margin: 40px 0 10px 0;
      display: block;
      font-weight: bold;
    }
  }

  .action {
    background: $secondary;
    padding: 35px;
  }

  &.custom {
    margin-top: 70px;
    background-color: initial;
    color: $primary-text;
  }
}

/*******************************************************
CONTACT US SECTION
*******************************************************/

section.contact-us {
  @extend .section;
  @include parallax('../images/background-decoration-purple-light.png', contain, top);
  padding: 70px 20px 0 20px;
  padding-bottom: 40px;
}

.form-container {
  width: 90%;
}

/*******************************************************
JOIN US SECTION
*******************************************************/

.join-us {
  @extend .section;
  padding-top: 20px;
  background-color: white;
  color: $secondary-text;
  text-align: center;
  padding-bottom: 70px;
  
  h1 {
    color: $primary;
  }
}