@import 'common.scss';

/*******************************************************
LANDING SECTION
*******************************************************/

@media (max-width: 641px) {
  .landing {
    @include parallax('../images/background-landing-estatico-compressed.png', cover, 50% 50%);
  }
}

.landing {
  @extend .section;
  @include align-items(center);
  @include transition(all ease-in .2s);
  text-align: left;
  border: 15px solid $primary;
  -webkit-justify-content: space-around;
  justify-content: flex-start;
  position: relative;
  > video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -9;
  }

  .claim {
    padding: 110px 50px 0 50px;
    text-align: left;
    margin-bottom: auto;
    animation: .5s ease-out 0s 1 slideInFromTop;
    .title {
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 20vw;
      font-size: 15vw;
      font-family: $primary-font !important;
    }
    .slogan {
      font-weight: bold;
      color: white;
      margin-top: 20px;
      max-width: 60%;
      font-family: $primary-font !important;
    }
  }
  .swipe-down {
    margin-bottom: 20px;
    text-align: center;
    color: $secondary;
    cursor: pointer;
    p {
      margin-bottom: 5px;
    }
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*******************************************************
OFFERS SECTION
*******************************************************/

.offer {
  flex: 1 100%;
  text-align: center;
  margin: 15px;
  background-color: white;
  color: $secondary-text;
  transition: all .3s linear;
  &.extended {
    .content {
      .text-container {
        max-height: 600px;
      }
      .arrow {
        margin-top: 0;
        transform: rotate(0);
      }
    }
  }
  .content {
    padding: 40px;
    max-height: 600px;
    .text-container {
      max-height: 75px;
      overflow: hidden;
      transition: max-height .5s;
    }
    .icon {
      width: 150px;
    }
    .learn-more {
      margin: 20px 0 10px 0;
      display: block;
      font-weight: bold;
    }
    .arrow {
      margin-top: 15px;
      transition: transform .6s;
      transform: rotate(180deg);
    }
  }
  .action {
    background: $secondary;
    padding: 35px;
  }
  &.custom {
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: initial;
    color: $primary-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2em;
      max-width: 70vw;
    }
    .content .more-info {
      display: none;
      font-size: 1.5em;
    }
  }
}

/*******************************************************
WORK
*******************************************************/

.work {
  display: none;
}

/*******************************************************
CONTACT US SECTION
*******************************************************/

.contact-us {
  @extend .section;
  @include parallax('../images/background-decoration-purple-light.png', contain, top);
  padding: 20px 20px 0 20px;
  padding-bottom: 40px;
  .content {
    .contact-phrase {
      display: none;
    }
  }
}

.form-container {
  width: 90%;
}

/*******************************************************
JOIN US SECTION
*******************************************************/

.join-us {
  // background-color: white;
  color: $secondary-text;
  .background {
    padding-top: 20px;
    @extend .section;
    text-align: center;
    padding-bottom: 70px;
    background-color: white;

    .content p {
      color: $terciary-text;
    }
  }
  h1 {
    color: $primary;
  }
  .follow {
    display: none;
    text-align: right;
    h1 {
      color: $secondary;
    }
    p {
      color: white;
    }
  }
}

@media (min-width: 460px) {
  .landing .claim .title {
    font-size: 3.5em !important;
  }
}

/*******************************************************
TABLET
*******************************************************/

@media (min-width: 641px) {
  body {
    background-color: transparent !important;
  }
  /*******************************************************
  LANDING
  *******************************************************/
  .landing {
    min-height: 600px;
  }
  .title {
    margin: 5vh 0 !important;
  }
  /*******************************************************
  OFFERS
  *******************************************************/
  .offers {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .wave {
    background-image: url("../images/background-decoration-purple-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 100px;
    height: 600px;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
  }
  .offer {
    background-color: initial;
    color: white;
    &.custom .content {
      h1 {
        color: #38E090;
        font-size: 40px;
        max-width: 50vw;
      }
    }
    &.custom .content a:not(.more-info) {
      display: none;
    }
    &.custom .content .more-info {
      color: white;
      padding: 0 10px;
      display: inline;
    }
  }
  .offer .content {
    padding: 10px;
    .text-container {
      max-height: inherit;
    }
    .arrow {
      display: none;
    }
  }

  .forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 15vw 10% 15vw;
    background: linear-gradient(to bottom, #306, #5000a0);
    section {
      flex: 1 1 100%;
      align-self: flex-start; // padding: 20px;
      margin: 10px;
      hr {
        margin: 0;
      }
      &.contact-us {
        background-color: #306;
        background-image: none;
        .content {
          .contact-phrase {
            max-width: 280px;
            display: block;
            text-align: left;
          }
        }
      }
      &.join-us {
        .follow {
          background-color: transparent;
          display: block
        }
      }
      &.join-us,
      &.contact-us {
        .content h1 {
          text-align: center;
          font-size: 2.5em;
          margin-bottom: 30px;
        }
      }
    }
  }
  .action,
  .learn-more {
    display: none !important;
  }
  .button-secondary {
    float: right;
  }
}

/*******************************************************
DESKTOP
*******************************************************/

@media (min-width: 1024px) {
  .forms section {
    flex: 1 1;
  }

  /*************************************************
 WORK
 *************************************************/
  .work {
    margin-top: 80px;
    display: flex;
    height: 450px;
    img {
      height: 450px;
    }
    #scrolling {
      /* Carousel Frame */
      overflow: hidden;
    }
    ul {
      opacity: 0;
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: absolute;
      -webkit-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transition: opacity .3s linear;
    }

    li {
      float: left;
    }
  }

  .wave {
    background-position: 0 100%;
  }
  .landing {
    background-position: initial;
    align-items: initial;
    .claim {
      padding: 30vh 50px 0 20vw;
      .title {
        max-width: 25vw;
      }
    }
  }
  .offers {
    display: flex;
    flex-wrap: wrap;
    background-position: 40% 78%;
    padding: 0 7vw 0 7vw;
  }
  .offer {
    background-color: initial;
    color: white;
    flex: 1 0 28%;
    &.custom {
      margin-top: 50px;
      padding-top: 30px;
      .content {
        h1 {
          max-width: 40vw;
        }
        .more-info {
          flex: 1 1 100%;
        }
      }
    }
  }
  .work {
    display: flex;
    justify-content: center;
  }
  .forms {
    padding-top: 100px;
  }
}

@media (min-width: 1440px) {
  .carousel .control {
    &.right {
      right: 15vw !important;
    }
    &.left {
      left: 15vw !important;
    }
  }
}
