@import 'common.scss';

/*******************************************************
LANDING SECTION
*******************************************************/

.landing {
  @extend .section;
  @include parallax('../images/background-landing-estatico-compressed.png', cover, 50% 50%);
  @include align-items(center);
  text-align: left;
  border: 15px solid $primary;
  -webkit-justify-content: space-around;
  justify-content: flex-start;
  .claim {
    padding: 110px 50px 0 50px;
    text-align: left;
    margin-bottom: auto;
    .title {
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 20vw;
      font-size: 3.5em;
      font-family: $primary-font !important;
    }
    .slogan {
      font-weight: bold;
      color: white;
      margin-top: 20px;
      font-family: $primary-font !important;
    }
  }
  .swipe-down {
    margin-bottom: 20px;
    text-align: center;
    color: $secondary;
  }
}


/*******************************************************
OFFERS SECTION
*******************************************************/

.offer {
  flex: 1 100%;
  text-align: center;
  margin: 15px;
  background-color: white;
  color: $secondary-text;
  .content {
    padding: 40px 40px 20px 40px;
    .icon {
      width: 150px;
      margin-top: 25px;
    }
    .learn-more {
      margin: 40px 0 10px 0;
      display: block;
      font-weight: bold;
    }
  }
  .action {
    background: $secondary;
    padding: 35px;
  }
  &.custom {
    margin-top: 70px;
    background-color: initial;
    color: $primary-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2em;
      max-width: 70vw;
    }
    .content .more-info {
      display: none;
    }
  }
}


/*******************************************************
WORK
*******************************************************/

.work {
  display: none;
}


/*******************************************************
CONTACT US SECTION
*******************************************************/

.contact-us {
  @extend .section;
  @include parallax('../images/background-decoration-purple-light.png', contain, top);
  padding: 70px 20px 0 20px;
  padding-bottom: 40px;
  .content {
    .contact-phrase {
      display: none;
    }
  }
}

.form-container {
  width: 90%;
}


/*******************************************************
JOIN US SECTION
*******************************************************/

.join-us {
  @extend .section;
  padding-top: 20px;
  background-color: white;
  color: $secondary-text;
  text-align: center;
  padding-bottom: 70px;
  h1 {
    color: $primary;
  }
}


/*******************************************************
TABLET
*******************************************************/

@media (min-width: 641px) {
  .landing {
    min-height: 600px;
  }
  .landing .claim {
    padding-left: 0;
  }
  .title {
    margin: 5vh 0 !important;
  }
  /*******************************************************
  OFFERS
  *******************************************************/
  .offers {
    background-image: url("../images/background-decoration-purple-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
  .offer {
    background-color: initial;
    color: white;
    &.custom .content h1 {
      color: #38E090;
      font-size: 40px;
      max-width: 50vw;
    }
    &.custom .content a:not(.more-info) {
      display: none;
    }
    &.custom .content .more-info {
      color: white;
      background-color: #9933ff;
      padding: 0 10px;
      display: inline;
    }
  }
  .offer .content {
    padding-top: 0;
  }
  .work {
    margin-top: 80px;
    display: flex;
    img {
      max-width: 100%;
    }
  }
  .forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 10%;
    background: linear-gradient(to top, #306, #5000a0);
    section {
      flex: 1 0 auto;
      align-self: flex-start;
      padding: 20px;
      margin: 10px;
      hr {
        margin: 0;
      }
      &.contact-us {
        background-color: #306;
        background-image: none;
        .content {
          .contact-phrase {
            max-width: 280px;
          }
        }

      }
      &.join-us, &.contact-us{
        .content h1 {
          text-align: center;
          font-size: 2.5em;
          margin-bottom: 10px;
        }
      } 
        
    }
    .follow {
      background-color: transparent;
      align-self: flex-end;
      color: #38E090;
    }
  }
  .action,
  .learn-more {
    display: none !important;
  }
  .button-secondary {
    float: right;
  }
}


/*******************************************************
DESKTOP
*******************************************************/

@media (min-width: 1024px) {
  .landing {
    background-position: initial;
    align-items: initial;
    .claim {
      padding: 110px 50px 0 10vw;
    }
  }
  .offers {
    display: flex;
    flex-wrap: wrap;
    background-position: 40% 100%;
  }
  .offer {
    background-color: initial;
    color: white;
    flex: 1 0 30%;
    &.custom {
      margin-top: 0;
      .content {
        .more-info {
          flex: 1 1 100%;
        }
      }
    }
  }
  .work {
    display: flex;
    justify-content: center;
  }
}
