@import 'common.scss';
@import 'components/parallax.scss';
@import 'mixins/compatibility.scss';
@import 'variables/color_variables.scss';

body, html {
  background-color: transparent;
}

.landing {
    @extend .section;
    @include parallax('../images/services-nubes-monotono-compressed.jpg', cover, 50% 50%);

    padding: 110px 50px 0 50px;

    p {
      padding: 0 5vw;
    }
    
    .get-in-touch {
        margin: 50px 0 70px;
        color: $primary-text;
        font-size: 1.4em;
    }
}

.question {
    flex: 1 100%;
    text-align: center;
    padding: 20px 10px;
    background-color: white;
    color: $primary;
    font-weight: bold;
    font-size: 1.2em;
}

.offers {
    @extend .section;
}

.offer {
    flex: 1 100%;
    text-align: center;
    background-color: $grey;

    .overlapped-heading { display: none; }

    .content {
        padding: 50px;

        .icon {
            width: 150px;
        }

        h1 {
            color: $terciary-text;
        }

        p {
            color: black;
            text-align: left;
        }

        .title-tablet {
            display: none;
        }
    }
}

$carousel-height: 320px;
.boxing-offers {
    @extend .section;
    @include align-items(center);
    height: $carousel-height + 200px;

    background-color: transparent;
    text-align: center;

    h1 {
        color: $primary;
    }
    
    .subparagraph { 
      display: none; 
      
      .offer-phrase-tablet {
        p { text-align: left; }
      }
    }

    .boxing-offer {
      .body {
        background-color: $primary;
        background: linear-gradient(to top, $primary, transparentize($primary, 0.2));
        color: white;
        margin: 0 20px;
        padding: 20px 30px;
        height: 250px;
      }
      
      .time {
          color: $primary;

          h1, p {
              margin: 20px 0;
          }
      }
    }

    .slider {
        margin-top: 100px; 
        padding: 20px 0;
    }

    .circle {
        fill: $grey;
        
        &.selected {
            fill: $secondary;
        }
    }
}

.unslider-nav ol li {
    background-color: $grey-darker;
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 100%;
    border: none;

    &.unslider-active {
      background-color: $secondary;
    }
}

.they-trust-us {
    @extend .section;
    @include parallax('../images/services-fondo-clientes.jpg', cover, top);
    padding: 70px 0;
    color: $primary;

    .clients {
        @include display(flex);
        flex-wrap: wrap;
        float: left;
        clear: left;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        .client {
            padding: 5px;

            img {
              min-width: 80px;
              opacity: 0.80;
              width: 180px;
            }
        }
    }
}

.question-tablet { display: none; }

.client-quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h4 { text-align: center; }
 }

.parallax-services {
  @extend .parallax;
  background-color: white;
  top: 400px;
  background-image: url('../images/Parallax2.png');
}

@media (min-width: 641px) {

  .unslider {
    display: none;
  }

  .landing p {
    padding: 0 10vw;
  }


  .clients {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    clear: both;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
  }

/*******************************************************
NAV COLOR CHANGE BREAKPOINT
***********/

#intersection {
  position: absolute;
  top: 500px;
  width: 100%;
}

/*******************************************************
OFFERS 
*******************************************************/
.offers {
  flex-direction: column;
  background-color: transparent;
  padding: 0 40px;
  
  .question {
      display: none;
  }
  
  .offer {
    display: flex;
    background-color: transparent;
    margin: 20px 0;
    flex-wrap: wrap;

    .content {
      display: flex;
      
      .left {
        display: none;
        
        &.tablet {
          display: block;
          margin: 0;
        }
      }
      
      .title {
        display: none;
      }
      .title-tablet {
        display: block;
        opacity: 1;
        color: #BEBEBE;
        margin-top: 10px;
      }
      .icon {
        flex: 1.5;
        padding: 0 40px;
      }
      p {
        flex: 1.2;
      }
    }
    
  }
}

.boxing-offers {
  height: $carousel-height + 400px;
}

.description {
  text-align: left;
  
  .question-tablet {
    opacity: 1;
    color: #306;
  }
}

.carrousel {
  display: none;
}

.square {
  transition: all .4s;

  h3 {
    margin-top: 5px;
  }
  
  a {
    font-weight: bold; 
    color: $terciary-text;
  }
  
  .description {
    transition: all .3s ease-in-out;
    text-align: center;
    height: 0;
    opacity: 0;

    a {
      pointer-events: none;
      cursor: default;
      display: none;
    }

    p {
      font-size: 0.6em;
      margin: 10px 10px;
    }
  }

  &.lighter {
    a { color: $primary; }
  }
  
  &:hover, &:active, &.active {
    
    .arrow {
      transform: rotate(0);
    }
    
    .description {
      height: auto;
      opacity: 1;
      a {
        pointer-events: auto;
        cursor: pointer;
        display: block;
      }
    }
  }
}

.offer-phrase-tablet {

  p {
    text-align: center !important;
    background-color: rgba(255,255,255, 0.4);
    .break { display: none; }
  }
  
  .link {
    display: block;
    margin: 20px 0;
    color: $primary;
  }
}

/*******************************************************
BOXING OFFERS 
*******************************************************/
  .boxing-offers {
    padding: 0 80px;
    
    .subparagraph {
      text-align: left;
      color: #3C3C3B;
      display: block;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px 100px;
      
      // a {
      //   flex: 1 0 100%;
      // }

      .offer-phrase-tablet {
        h1 {
          display: none;
        }
      }
      
      .boxing-offers-tablet {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        width: 100%;
        
        .square {
          color: white;
          background-color: $primary;
          flex: 1 0 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 200px;
          height: 200px;
        }
        
        .square.lighter {
          background-color: $terciary-text;
        }
      }
    }
  }

/*******************************************************
THEY TRUST US
*******************************************************/
  .they-trust-us {
    padding: 40px 80px;
    background-color: white;

    .clients {
      .client {
        flex: 1 0 25%;
      }
    }
  }
}

@media (min-width: 1024px) {

  .landing p {
    padding: 0;
  }

/*******************************************************
NAV COLOR CHANGE BREAKPOINT
*******************************************************/

  #intersection {
    top: 1500px;
  }

  .offers {
    align-items: initial;
    flex-direction: row;
    padding: 0 10vw;
  }

  .offer {
    flex: 1 0 20% !important;
    
    .overlapped-heading {
      width: 100%;
      position: relative !important;
      left: 0 !important;
    }
  }

  .content {
    flex-direction: column;
    padding: 20px !important;
  }


  .boxing-offers {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: initial;
    padding-top: 20px;
    @include parallax('../images/background-decoration-white.png', contain, 0 0);

    h1 {
      display: none;
    }
    

    .subparagraph {
      width: 100vw;
      display: flex;
      padding: 0 10vw 80px 10vw;
      align-items: flex-start;

      h1 {
        display: flex;
      }
      
      .offer-phrase-tablet {
        flex: 0.5 0 20%;
        margin-right: 0;

        h1 { display: block !important }

        br {
          display: block;
        }

        p { 
          padding-right: 40px; 
          a { color: $primary }
        }
      }

      .boxing-offers-tablet {
        flex: 1 0 20%;
        padding-top: 25px;

        h1 { display: block; }
        p .left { display: inline; }
      }
    }
  }

  .client-quote {
    display: block;
    margin: 40px 0 60px 0;
    text-align: center;

    h4 { 
      font-size: 1.5em; 
      max-width: 50vw;  
    }
  }

}
