@import 'common.scss';
@import 'components/parallax.scss';
@import 'mixins/compatibility.scss';
@import 'variables/color_variables.scss';

.landing {
    @extend .section;
    @include parallax('../images/services-nubes-monotono.jpg', 'cover', 50% 50%);

    padding: 110px 50px 0 50px;

    .get-in-touch {
        margin: 50px 0 70px;
        color: $primary-text;
        font-size: 1.4em;
    }
}

.question {
    flex: 1 100%;
    text-align: center;
    padding: 20px 0;
    background-color: white;
    color: $primary;
    font-weight: bold;
    font-size: 1.2em;
}

.offers {
    @extend .section;
}

.offer {
    flex: 1 100%;
    text-align: center;
    background-color: $grey;

    .content {
        padding: 50px;

        .icon {
            width: 150px;
        }

        h1 {
            color: $terciary-text;
        }

        p {
            color: black;
            text-align: left;
        }
    }
}

.boxing-offers {
    @extend .section;
    @include align-items(center);

    padding-top: 70px;
    background-color: white;
    text-align: center;

    h1 {
        color: $primary;
    }

    .boxing-offer {
        background-color: $primary;
        background: linear-gradient(to top, $primary, transparentize($primary, 0.2));
        color: white;
        margin: 0 20px;
        padding: 20px 30px;
        min-height: 220px;
    }

    .price {
        color: $primary;

        h1, p {
            margin: 20px 0;
        }
    }

    .slider {
        padding: 20px 0;
    }

    .circle {
        fill: $grey;
        
        &.selected {
            fill: $secondary;
        }
    }
}

.they-trust-us {
    @extend .section;
    @include parallax('../images/services-fondo-clientes.jpg', cover, top);
    padding: 70px 0;
    color: $primary;

    .clients {
        @include display(flex);
        flex-wrap: wrap;

        .client {
            flex: 1 0 50%;
            background: $grey-darker;
            color: white;
            padding: 10px;
            margin-bottom: 10px;
            min-width: 60px;
        }
    }
}