@import 'common.scss';
@import 'variables/color_variables.scss';
@import 'components/parallax.scss';

/*******************************************************
TEAM PAGE
*******************************************************/
.landing {
  padding-top: 190px;
}

.landing h1 {
  display: none;
  -ms-grid-row-align: center;
  align-self: center;
}

.members {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
}

.members .core-member:not(:first-child), .members .board-member:not(:first-child) {
  margin-top: 110px;
}

.member-picture {
  width: 150px;
  margin-top: -70px;
  border: 3px solid $secondary;
  border-radius: 100%;
}

.core-member, .board-member {
  background: #EDEDED;
  text-align: center;

  .name {
    min-height: 52px;
  }
  
  h1, h4, h5 {
    margin: 10px;
  }
  
  h1 {
    color: #306;
    font-size: 1.4em;
  }
  
  h5 {
    color: #9933ff;
    font-size: 1.01em;
  }
  
  p {
    height: 70px;
  }
}

.core-member {
  padding: 5px;

  .role {
    min-height: 40px;
  }

  .bio {
    min-height: 80px;
  }
  
  h1 {
    color: $primary;
    font-size: 1.4em;
  }
  
  .social-icons {
    margin: 20px;  
    display: flex;
    justify-content: center;

    a:not(:last-child) {
      margin-right: 7px;
    }
    
    a img {
      width: 30px;
    }
  }
}

.advisory-board {
  display: none;

  .title {
    text-align: center;
    color: $primary;
    flex: 1 1 100%;
  }

  .arrow {
    transition: transform .4s ease-in;
  }
}

.board-member {
  background-color: #306;
  color: white;

  .bio {
    max-width: 60%;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
  }

  .extra-info {
    transition: all .2s;
    max-height: 0;
    opacity: 0;
  }

  .country {
    margin: 0;
    color: $secondary;
  }

  .member-picture {
    transition: all .3s;
    max-height: 150px;
  }

  &:hover, &:active {
    .extra-info {
      max-height: initial;
      opacity: 1;
    }

    .member-picture {
      max-height: 0;
      width: 0;
      border: 0;
    }

    .arrow {
      transform: rotate(180deg);
    }
  }
}

.how-we-work {
  background-image: url("../images/background-decoration-green.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 7%;
  background-color: white;
  color: #306;
  padding-top: 50px;

  h1 { text-align: center; }
}

.values {
  color: #3C3C3B;
  padding: 40px;
    
  .value {
    text-align: center;
    margin-bottom: 40px;
    
    img {
      width: 30px;
    }
    
    h3 {
      margin-top: 10px;
    }
  }

}

.experience {
    display: none;
}

/*******************************************************
TABLET 
*******************************************************/

@media (min-width: 641px) {
  .members {
    padding: 0 20px 0 20px;
  }

  .core-member, .board-member {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  
  .landing {
    padding-top: 60px;
    text-align: center;
    color: white;   
    
    h1 {
        display: block;
        margin-bottom: 115px;
        font-size: 2em;
    }
  }

  .members, .advisory-board {
    align-items: stretch;
    justify-content: space-between;
  }

  .core-member, .board-member {
    margin-top: 0 !important;
    flex: 1 1 30%;
    
    margin-bottom: 60px;    
  }
  
  .member-picture.board {
    margin-top: 20px;
  }

  .advisory-board {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    .board-member {
      display: block;
      padding-bottom: 20px;
      height: 400px;
      margin-bottom: 10px;
      flex: 0 0 30%;
      
      .name {
        color: white;
        margin: 10px 20px;
      }

      .profile {
        color: #9933ff;
        margin-top: 40px;
        min-height: 38px;
      }
    }
  }


  .values {
    padding: 0 80px 20px 80px;
  }

  .value:nth-child(odd) {
    text-align: left;
    padding-right: 30vw;
  }

  .value:nth-child(even) {
    text-align: right;
    padding-left: 30vw;
  }

  /*******************************************************
    EXPERIENCE
    *******************************************************/
  .experience {
    display: block;
    padding: 40px 80px 79px 80px;
    background-color: white;
    
    img {
        opacity: 0.5;
        width: 60vw;
    }

    .phrase {
        max-width: 40vw;
        position: absolute;
        right: 80px;
        z-index: 1;
        margin-top: 50px;
        color: #306;
    }
  }
}

@media (min-width: 1024px) {
  .values {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .value {
      flex: 1 0 30%;
      text-align: center;
      padding: 0 !important;
    }
  }

  .members, .advisory-board {
    padding: 0 10vw;
  }

  
  .core-member {
    flex: 1 0 10%;

    &:last-child {
      margin-right: 0;
    }
  }

  .advisory-board {
    padding-top: 20px;
    @include parallax("../images/background-decoration-green.png", contain, 0 0);
  }

  .how-we-work {
    padding-top: 100px;
    background-image: none;
  }
}
