@import 'common.scss';
@import 'variables/color_variables.scss';
@import 'components/parallax.scss';

/*******************************************************
TEAM PAGE
*******************************************************/
.landing {
  padding-top: 160px;
}

.landing h1 {
  display: none;
  -ms-grid-row-align: center;
      align-self: center;
}

.members {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  padding: 0 20px 0 20px;
}

.members .core-member:not(:first-child), .members .board-member:not(:first-child) {
  margin-top: 110px;
}

.member-picture {
  width: 150px;
  margin-top: -70px;
}

.core-member, .board-member {
  background: #EDEDED;
  text-align: center;
  padding: 0 20px;
}

.core-member h1, .board-member h1 {
  color: #306;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.core-member h5, .board-member h5 {
  margin-top: 10px;
  color: #9933ff;
  font-size: 1.01em;
}

.core-member p, .board-member p {
  margin: 20px 0;
}

.core-member .social-icons, .board-member .social-icons {
  margin-bottom: 20px;
}

.advisory-board {
  display: none;
}

.board-member {
  background-color: #306;
  color: white;
}

.how-we-work {
  background-image: url("../images/background-decoration-green.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 7%;
  background-color: white;
  color: #306;
  padding-top: 50px;

  h1 { text-align: center; }
}

.values {
  color: #3C3C3B;
  padding: 40px;
    
  .value {
    text-align: center;
    margin-bottom: 40px;
  }

  .value img {
    width: 30px;
  }

  .value h3 {
   margin-top: 10px;
  }
}


.experience {
    display: none;
}

/*******************************************************
TABLET 
*******************************************************/
@media (min-width: 641px) {
  .landing {
    padding-top: 60px;
    text-align: center;
    color: white;   
    
    h1 {
        display: block;
        margin-bottom: 100px;
        font-size: 2em;
    }
  }

  .members, .advisory-board {
    align-items: stretch;
    justify-content: space-between;
    padding: 0 100px;
  }

  .members .core-member:nth-child(odd), .members .board-member:nth-child(odd), .advisory-board .core-member:nth-child(odd), .advisory-board .board-member:nth-child(odd) {
    margin-right: 7.5px;
  }

  .members .core-member:nth-child(even), .members .board-member:nth-child(even), .advisory-board .core-member:nth-child(even), .advisory-board .board-member:nth-child(even) {
    margin-left: 7.5px;
  }

  .members .core-member, .members .board-member, .members .board-member, .advisory-board .core-member, .advisory-board .board-member, .advisory-board .board-member {
    margin-bottom: 15px;
  }

  .core-member, .board-member {
    margin-top: 0 !important;
    flex: 1 0 40%;
    padding: 0 20px;
  }
  
  .member-picture.board {
    margin-top: 20px;
  }

  .advisory-board {
    display: flex;
    background-color: white;
    padding: 20px 100px;
    flex-wrap: wrap;
  }

  .advisory-board .board-member {
    display: block;
    padding-bottom: 20px;
  }
  .advisory-board .board-member .name {
    color: white;
  }

  .advisory-board .board-member .profile {
    color: #9933ff;
    margin-top: 40px;
  }

  .values {
    padding: 0 80px 20px 80px;
  }

  .value:nth-child(odd) {
    text-align: left;
    padding-right: 30vw;
  }

  .value:nth-child(even) {
    text-align: right;
    padding-left: 30vw;
  }

  /*******************************************************
    EXPERIENCE
    *******************************************************/
  .experience {
    display: block;
    padding: 40px 80px 79px 80px;
    background-color: white;
    
    img {
        opacity: 0.5;
        width: 60vw;
    }

    .phrase {
        max-width: 40vw;
        position: absolute;
        right: 80px;
        z-index: 1;
        margin-top: 50px;
        color: #306;
    }
  }
}
