@import 'common.scss';
@import 'variables/color_variables.scss';
@import 'components/parallax.scss';

/*******************************************************
TEAM PAGE
*******************************************************/

.landing {
    @extend .section;
    padding-top: 160px;
}

.members {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;

    .core-member:not(:first-child) {
        margin-top: 110px;
    }
}

.core-member {
    background: $grey;
    text-align: center;
    padding: 0 20px;

    .core-member-picture {
        width: 150px;
        margin-top: -70px;
    }

    h1 {
        color: $primary;
        font-size: 1.4em;
    }

    h4 {
        color: $terciary-text;
    }

    p {
        margin: 20px 0;
    }

    .social-icons {
        margin-bottom: 20px;
    }
}

.how-we-work {
    @extend .section;
    @include parallax('../images/background-decoration-green.png', contain, 50% 7%);
    background-color: white;
    color: $primary;
    padding-top: 50px;
}

.values {
    color: $black;
    padding: 40px;

    .value {
        text-align: center;
        margin-bottom: 40px;

        h3 {
            margin-top: 10px; 
        }
    }
}