@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-semibold.woff2') format('woff2'),
  url('/static/fonts/gilroy-semibold.woff') format('woff'),
  url('/static/fonts/gilroy-regular.ttf') format('truetype');
  font-weight: 500;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-regular.woff2') format('woff2'),
  url('/static/fonts/gilroy-regular.woff') format('woff'),
  url('/static/fonts/gilroy-regular.ttf') format('truetype');
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-bold.woff2') format('woff2'),
  url('/static/fonts/gilroy-bold.woff') format('woff'),
  url('/static/fonts/gilroy-bold.ttf') format('truetype');
  font-weight: bold;
  font-display: auto;
  font-style: normal;
}
