$purple-uby:       #755ff3;
$sea-green-uby:    #3eff9a;
$pale-mauve-uby:   #f7d6f0;
$pale-orange-uby:  #ff9663;
$type-uby:         #595875;
$black-uby:        #333333;
$grey-uby:         #666666;
$grey-font:        #707170;
$grey-background:  #f8f8fa;
$border-radius:      4px;
$border-color:     #e9e9e9;
