/*******************************************************
GENERAL
*******************************************************/

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #306;
}

* {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.8em;
}

/*******************************************************
FORMS
*******************************************************/

form {
  padding: 0 5px 0 5px;
}

input, textarea {
  display: block;
  color: white;
  margin-top: 10px;
  background-color: transparent;
  padding: 10px 0 10px 10px;
  border: 1px solid white;
  border-radius: 5px;
  width: calc(100% - 10px);
  font-size: 1.1em;
}

.secondary {
  border-color: #DADADA;
  color: #DADADA;
}

input:focus,
textarea:focus {
  outline-color: #38E090;
}

input {
  height: 20px;
}

.file-input {
  padding: 10px 0 10px 10px;
  border: 2px solid #DADADA;
  border-radius: 5px;
  color: #DADADA;
  min-width: 85%;
  display: inline-block;
  text-align: left;
}

input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

textarea {
  resize: none;
  min-height: 70px;
  height: 50px;
}

/*******************************************************
COMMON COMPONENTS
*******************************************************/

.arrow {
  width: 20px;
}

.arrow.down {
  transform: rotate(180deg);
}

.button {
  padding: 10px 0;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  min-width: 141.09px;
  display: inline-block;
}

.button.button-secondary {
  margin-top: 10px;
  border-color: #9933ff;
  color: #9933ff;
}

/*******************************************************
HELPERS
*******************************************************/

.center {
  text-align: center;
}

/*******************************************************
LANDING SECTION
*******************************************************/

.section {
  /** flex compat **/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  /** flex-direction compat **/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  
  overflow: hidden;
  color: white;
}

.section.landing {
  text-align: left;
  height: 100vh;
  
  background-image: url('../images/background-landing-estatico.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 15px solid #306;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-justify-content: space-around;
  justify-content: flex-start;
}


.claim {
  padding: 110px 50px 0 50px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.claim .title {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  font-size: 55px;
}

hr {
  border: 1px solid #3c9;
  width: 30px;
}

.claim hr {
  margin: 0;
}

.claim .slogan {
  font-weight: lighter;
}

.logo-landing {
  width: 100px;
  position: absolute;
  top: 30px;
  left: 20px;
}

.swipe-down {
  margin-top: 120px;
}

.swipe-down img {
  margin: 0 30px;
}

/*******************************************************
OFFERS SECTION
*******************************************************/

.offer {
  flex: 1 100%;
  text-align: center;
  margin: 15px;
  background-color: white;
  color: black;
}

.content {
  padding: 40px 40px 20px 40px;
}

.offer .content .icon {
  width: 50%;
  margin: 25px 0;
}

.offer .content .learn-more {
  margin: 40px 0 10px 0;
  display: block;
  font-weight: bold;
}

.offer .action {
  background: #38E090;
  padding: 35px;
}

.offer.custom {
  margin-top: 70px;
  background-color: initial;
  color: white;
}

/*******************************************************
CONTACT US SECTION
*******************************************************/

section.contact-us {
  display: flex;
  align-items: center;
  padding: 70px 20px 0 20px;
  background: url('../images/background-decoration-purple-light.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 40px;
}

.form-container {
  width: 90%;
}

/*******************************************************
JOIN US SECTION
*******************************************************/

.section.join-us {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  text-align: center;
  padding-bottom: 70px;
}

.section.join-us h1 {
  color: #306;
}

/*******************************************************
FOOTER
*******************************************************/

.page-footer {
  background-color: #306;
  background: url('../images/background-decoration-purple-light.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  padding: 20px 20px;;
}

.slogan {
  flex: 1.4;
  color: #38E090;
  margin-right: 25px;
}

.social {
  flex: 0.9;
}

.social img:not(:last-child) {
  margin-right: 5px;
}

.slogan p,
.social p {
  font-size: 1.5em;
}

.slogan p {
  margin-bottom: 10px;
}

.slogan img {
  margin-left: 10px;
}

footer .social {
  color: white;
  text-align: right;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
  .section.landing {
    
  }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}