@import '../variables/color_variables.scss';
@import '../variables/_variables.scss';

.button {
  padding: 10px 0;
  border: 2px solid $primary-text;
  border-radius: 25px;
  color: $primary-text;
  min-width: $button-min-width;
  display: inline-block;
}

.button-terciary {
  @extend .button;
  background-color: white;
  color: $terciary-text;
  font-size: 1.1em;
}