@import '../variables/color_variables.scss';
@import '../variables/_variables.scss';

.button {
  padding: 10px 0;
  border: 2px solid $primary-text;
  border-radius: 25px;
  color: $primary-text;
  min-width: $button-min-width;
  display: inline-block;
  text-align: center;
}

.button-secondary {
  @extend .button;
  background-color: transparent;
  margin-top: 10px;
  color: #9933ff;
  border-color: #9933ff;
}

.button-terciary {
  @extend .button;
  background-color: white;
  color: $terciary-text;
  font-size: 1.1em;
}