@import '../variables/color_variables.scss';
@import '../variables/_variables.scss';
@import '../mixins/compatibility.scss';

.button {
  padding: 10px 0;
  border: 2px solid $primary-text;
  border-radius: 25px;
  color: $primary-text;
  min-width: $button-min-width;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  @include transition(background-color $button-transition-time linear);
}

.button-secondary {
  @extend .button;
  background-color: transparent;
  margin-top: 10px;
  color: $terciary-text;
  border-color: $terciary-text;

  &:hover, &:focus, &:active {
    color: white;
    background-color: $terciary-text;
  }
}

.button-terciary {
  @extend .button;
  font-size: 1.1em;
  background-color: transparent;

  &:hover, &:focus, &:active {
    color: $terciary-text;
    background-color: white;
  }
  
}

.link {
  @include transition(background-color .2s ease-in);
  
  &:hover, &:focus, &:active {
    background-color: $terciary-text;
    color: white;
  }
}

.link-secondary {
  @extend .link;
  color: white;
  cursor: pointer;
}
