.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.navigation-mobile {
  @extend .navigation;
  background-color: rgba($primary, 0.99);
  height: 60px;
  position: fixed;
  width: 100vw;
  top: -100px;
  transition: all .3s;
  visibility: hidden;

  &.show {
    visibility: visible;
    top: 0;
  }

  .nav .controls {
    padding-top: 23px;
    padding-right: 35px;
  }

  li a .logo-landing {
    padding-top: 7px;
    padding-left: 15px;
  }
}

.logo-landing {
  padding: 15px 0 0 20px;
  height: 20px;
  width: 20px;
  @include zoom(6);

  &.up {
    .caret-down {
      animation: floatingCaretUp 1s infinite;
    }
  }

  .caret-down {
    animation: floatingCaret 1s infinite;

    &.down {
      transform: rotate(0);
    }
  }
}

.item {
  top: 0;
  transition: transform linear .2s;

  &:hover:not(.navigation-icon) {
    transform: scale(1.3);
    fill: white;
  }
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
  }
  .social-icon {
    display: none;
    @include transition(transform .2s linear);

    .path,
    g g .path,
    g g g .path {
      @include transition(fill .3s ease-out);
    }
  }
  &.purple {
    .navigation-icon .hamburguer rect {
      fill: $primary !important;
    }
    .social-icon {
      .path,
      g g .path,
      g g g .path {
        fill: $primary;
      }
    }
  }
  &.white {
    .navigation-icon .hamburguer rect {
      fill: $grey-icon !important;
    }
    .social-icon {
      .path,
      g g .path,
      g g g .path {
        fill: $grey-icon;
      }
    }
  }
  .controls {
    float: right;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding-right: 30px;

    &.white {
      .social {
        * {
          fill: white;
        }
      }
    }
    .social {
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      &:hover {
        .social-icons {
          animation: .3s slideInRightBounce;
          transform: translateX(0);
        }
      }

      .social-icons {
        position: fixed;        
        padding-top: 30px;
        transform: translateX(100px);
        transition: transform .3s ease-in-out;
      }

      a {
        cursor: pointer;

        .navigation-icon {
          z-index: 1;
          padding-right: 10px;
          .top-line {
      
            @include transition(fill .3s ease-out, transform .3s ease-in-out);
          }
          .bottom-line {
            @include transition(fill .3s ease-in, transform .3s ease-in-out .2s);
          }
        }
        &:hover {

          .navigation-icon .hamburguer {

            .top-line {
              transform: scaleX(1.7);
            }
            .bottom-line {
              transform: scaleX(1.6);
            }
          }
        }
      }
      .item {
        margin-bottom: 5px;
      }
    }
  }
}


.ubykuo-icon {
  fill: white;
  transform-origin: 50% 50%;
  @include transition(transform .8s ease-in-out);
  &.green {
    fill: $secondary;
  }
}

.social-icon,
.navigation-icon {
  width: $icon-width;
}


$overlay-border: 20px;
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba($primary, 0.99);
  border: $overlay-border solid $secondary;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  
  .logo-landing {
    padding: 10px 0 0 15px;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .links,
  .social {
    display: none !important;
  }

  .links {
    order: 1 !important;
    display: flex;
    flex: 1;
    font-weight: 700;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    padding-right: 40px;
    align-items: flex-end;
    
    ul {
      list-style: none;
      li {
        margin: 10px 0 10px 0;
        a {
          color: white;
          font-size: 4vh;
        }
      }
    }
  }
  .social {
    flex: 0.3;    
    justify-content: center;
    padding: 10px;
    order: 2 !important;
    display: flex;
    align-items: flex-end;
    text-align: center;
    
    .container {
      p {
        color: white;
        font-size: initial;
      }
      hr {
        margin-bottom: 20px
      }
      
      hr[align=left] {
        display: none;
      }

      hr[align=center] {
        display: block;
      }
    }
    .social-icon {
      width: 20px;
      margin-right: 5px;
      .path,
      g g .path,
      g g g .path {
        fill: $grey-icon;
      }
    }
  }
  a {
    cursor: pointer;
    .close {
      width: 7vw;
      position: absolute;
      right: 30px;
      top: 35px;
      path {
        transition: transform .2s linear .2s;
        stroke: $grey-icon;
        fill: transparent;
        stroke-linecap: round;
        stroke-width: 5;
        transform-origin: 20px;
      }
    }
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &.visible {
    .links,
    .social {
      display: flex !important;
    }
    opacity: 1;
    visibility: visible;
    flex-direction: column; // font-size: 0.2em;
    .links {
      order: 2;
    }
    .social {
      order: 1;
    }
    .close {
      path {
        transform: rotate(180deg) scale(1.3);
      }
    }
  }
}

.morph {
  width: $icon-width + 25;

  .to {
    width: 30px;
    transform: translate(10.5px, 25px) scale(0.00001);
    transition: transform .3s ease-in;
    transform-origin: -20px -50px;
  }

  .from {
    transition: transform .3s ease-in;
    stroke-width: 4;
  }

  path {
    stroke: $secondary;
    fill: $secondary;
  }

  &:hover {
    .from {
      transform: scaleX(0.000000000001);    
    }

    .to {
      transform: scale(1.5);
    }
  }
}


@keyframes floatingCaret {
  50% {
    transform: translateY(5px)
  }
}

@keyframes slideInRightBounce{
    0% {
      transform: translateX(100px);
    }

    90% {
      transform: translate(-10px);
    }

    100% {
      transform: translate(0);
    }
  }

@keyframes reduceAndHide {
  0% {
    transform: scaleX(0.4);
  }
  
  50% {
    visibility: hidden;
  }
}

@keyframes showAndScale {
  50% {
    transform: scale(1.3);
  }
}

@keyframes floatingCaretUp {
  0% {
    transform: rotate(0deg) translate(5px);
  }

  50% {
    transform: translateY(0);
  }
}


@media (max-height : 320px) {
  .overlay {
    a .close {
      width: 20px
    }
    
    .links {
      order: 2 !important;
      flex: 0.4;
      padding-right: 70px;


      ul li a {
        font-size: 3vw;
      }
    }

    .social {
      order: 1 !important;
      flex: 0.5;
    }

    &.visible {
      flex-direction: row !important;
    }
  }
}

@media (min-width: 641px) {

  .navigation {
    position: fixed;
  }

  .navigation-mobile {
    display: none;
  }
  
  .controls {
    padding-right: 40px;    
  }

  .overlay {
    font-size: 2.5em;
    a .close {
      width: 30px;
    }
    .visible {
      flex-direction: row;
    }

    .links, .social {
      flex: 1;
    }

    .links {
      order: 2 !important;
      padding-right: 100px;
      align-items: center;

      ul li a {
        font-size: inherit;
      }
    }
    .social {
      order: 1 !important;
      align-items: center;
      padding: 0 0 40px 50px;
      justify-content: flex-start;
      text-align: left;
      align-items: flex-end;

      .container {
        
        p {font-size: 0.5em; }
        .social-icon {
          width: 30px;
          margin-right: 10px;
        }

        hr[align=left] {
        display: block;
      }

      hr[align=center] {
        display: none;
      }
      }
    }

    &.visible {
      flex-direction: row;
    }
  }
  .logo-landing {
    height: 25px;
    width: 25px;
  }
  .nav .social-icon {
    display: block;
  }
}

