$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto Slab', serif;

/***********************************
BUTTONS
***********************************/

$button-min-width: 140px;
$button-transition-time: .1s;