/*******************************************************
COLORS
*******************************************************/

$primary: #306;
$secondary: #38E090;
$terciary-text: #9933ff;
$primary-text: white;
$secondary-text: black;