/*******************************************************
COLORS
*******************************************************/

$primary: #330066;
$secondary: #38E090;
$terciary-text: #9933ff;
$primary-text: white;
$secondary-text: black;
$grey: #EDEDED;
$grey-darker: #BEBEBE;
$black: #3C3C3B;
$grey-icon: #D0D2D3;
