/*******************************************************
LANDING SECTION
*******************************************************/
.landing {
  background-image: url("../images/background-landing-estatico.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  align-items: center;
  text-align: left;
  border: 15px solid #306;
  justify-content: flex-start;
}

.landing .claim {
  padding: 110px 50px 0 50px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  margin-bottom: auto;
}

.landing .claim .title {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  font-size: 55px;
}

.landing .claim .slogan {
  font-weight: lighter;
}

.landing .swipe-down {
  margin-bottom: 20px;
  color: #38E090;
  text-align: center;
}

.landing .swipe-down p {
  margin-bottom: 5px;
}

.landing .swipe-down img {
  margin: 0 30px;
}

/*******************************************************
OFFERS SECTION
*******************************************************/
.offer {
  flex: 1 100%;
  text-align: center;
  margin: 15px;
  background-color: white;
  color: black;
}

.offer .content {
  padding: 40px 40px 20px 40px;
}

.offer .content .icon {
  width: 150px;
  margin: 25px 0;
}

.offer .content .learn-more {
  margin: 40px 0 10px 0;
  display: block;
  font-weight: bold;
}

.offer .action {
  background: #38E090;
  padding: 35px;
}

.offer.custom {
  margin-top: 70px;
  background-color: initial;
  color: white;
}

.offer.custom .content .more-info {
  display: none;
}

/*******************************************************
WORK
*******************************************************/
.work {
  display: none;
}

/*******************************************************
CONTACT US SECTION
*******************************************************/
section.contact-us {
  background-image: url("../images/background-decoration-purple-light.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding: 70px 20px 0 20px;
  padding-bottom: 40px;
}

section.contact-us .content .contact-phrase {
  display: none;
}

.form-container {
  width: 90%;
}

/*******************************************************
JOIN US SECTION
*******************************************************/
.join-us {
  padding-top: 20px;
  background-color: white;
  color: black;
  text-align: center;
  padding-bottom: 70px;
}

.join-us h1 {
  color: #306;
}

/*******************************************************
TABLET: ;
*******************************************************/
@media (min-width: 641px) {
  .landing {
    min-height: 600px;
  }
  .landing .claim {
    padding-left: 0;
  }
  .title {
    margin: 80px 0 !important;
  }
  /*******************************************************
  OFFERS
  *******************************************************/
  .offers {
    background-image: url("../images/background-decoration-purple-light.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
  .offer {
    background-color: initial;
    color: white;
  }
  .offer .content {
    padding-top: 0;
  }
  .offer.custom .content h1 {
    color: #38E090;
  }
  .offer.custom .content a:not(.more-info) {
    display: none;
  }
  .offer.custom .content .more-info {
    color: white;
    background-color: #9933ff;
    padding: 0 10px;
    display: inline;
  }
  .work {
    margin-top: 80px;
    display: flex;
  }
  .work img {
    max-width: 100%;
  }
  .forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px;
    background: linear-gradient(to top, #306, #5000a0);
  }
  .forms section {
    flex: 1 0 auto;
    align-self: flex-start;
    padding: 20px;
    margin: 10px;
  }
  .forms section hr {
    margin: 0;
  }
  .forms section.contact-us {
    background-color: #306;
    background-image: none;
  }
  .forms section.contact-us .content {
    text-align: left;
  }
  .forms section.contact-us .content .contact-phrase {
    max-width: 280px;
  }
  .forms section.join-us .content {
    text-align: left;
  }
  .forms .follow {
    background-color: transparent;
    align-self: flex-end;
    color: #38E090;
  }
  .action, .learn-more {
    display: none !important;
  }
  .button-secondary {
    float: right;
  }
}
