/*******************************************************
COLORS
*******************************************************/
/*******************************************************
COLORS
*******************************************************/
.button, .button-secondary, .button-terciary {
  padding: 10px 0;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  min-width: 140px;
  display: inline-block;
}

.button-secondary {
  background-color: transparent;
  margin-top: 10px;
  color: #9933ff;
  border-color: #9933ff;
}

.button-terciary {
  background-color: white;
  color: #9933ff;
  font-size: 1.1em;
}

/*******************************************************
GENERAL
*******************************************************/
html {
  height: 100%;
}

body {
  min-height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #306;
}

* {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.8em;
}

hr {
  border: 1px solid #3c9;
  width: 30px;
}

hr.left {
  margin: 0;
}

/*******************************************************
FORMS
*******************************************************/
form {
  padding: 0 5px 0 5px;
}

input, textarea {
  display: block;
  color: white;
  margin-top: 10px;
  background-color: transparent;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  width: calc(100% - 20px);
  font-size: 1.1em;
  -webkit-text-decoration-color: #38E090;
          text-decoration-color: #38E090;
}

.secondary {
  border-color: #DADADA;
  color: #DADADA;
}

input:focus,
textarea:focus,
button:focus {
  outline-color: #38E090;
}

input {
  height: 20px;
}

textarea {
  resize: none;
  min-height: 100px;
}

/********************************************************
CUSTOM FILE INPUT
********************************************************/
.file-input {
  padding: 10px 0 10px 10px;
  border: 2px solid #DADADA;
  border-radius: 5px;
  color: #DADADA;
  min-width: 85%;
  display: inline-block;
  text-align: left;
}

.file-input .icon {
  float: right;
  font-size: 1.3em;
  margin-right: 15px;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/********************************************************
CUSTOM CHECKBOX INPUT
********************************************************/
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 33px;
  height: 28px;
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 28px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -28px;
}

label.css-label {
  background-image: url(../images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*******************************************************
COMMON COMPONENTS
*******************************************************/
.arrow {
  width: 20px;
}

.arrow.down {
  transform: rotate(180deg);
}

.section, .landing, .how-we-work {
  display: flex-box;
  display: flex-flex;
  display: flex-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: white;
}

.logo-landing {
  width: 100px;
  position: absolute;
  top: 30px;
  left: 20px;
}

/*******************************************************
HELPERS
*******************************************************/
.center {
  text-align: center;
}

/*******************************************************
FOOTER
*******************************************************/
.page-footer {
  background-color: #306;
  background: url("../images/background-decoration-purple-light.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: flex-start;
  padding: 20px 20px;
}

.slogan {
  flex: 1.4;
  color: #38E090;
  margin-right: 25px;
}

.slogan p {
  margin-bottom: 10px;
}

.slogan img {
  margin-left: 10px;
}

.slogan p,
.social p {
  font-size: 1.5em;
}

.social {
  flex: 0.9;
  color: #EDEDED;
  text-align: right;
  display: block;
}

.social .options {
  display: none;
}

.social img:not(:last-child) {
  margin-right: 5px;
}

.adresses {
  display: none;
}

/*******************************************************
LINKS
*******************************************************/
.link-primary {
  color: #306;
}

.link-primary:hover, .link-primary:active, .link-primary:visited {
  background: #9933ff;
}

.link-primary.white {
  color: white;
}

/*******************************************************
TABLET 
*******************************************************/
@media (min-width: 641px) {
  .page-footer {
    font-size: 1.1em;
    padding-bottom: 40px;
  }
  .countries {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .countries .country {
    flex: 1 0 45%;
    margin-right: 15px;
    color: white;
  }
  .countries .country hr {
    margin-left: 0;
  }
  .adresses {
    color: white;
    display: block;
    flex: 1.5;
  }
  .adresses .coffee {
    color: #9933ff;
  }
  .adresses p {
    margin-top: 10px;
  }
  .slogan {
    flex: 0.8;
    margin: 0;
  }
  .slogan p {
    margin: 0;
  }
  .social {
    text-align: center;
    font-size: initial;
    padding-top: 20px;
  }
  .social p {
    font-size: 1em;
  }
  .social .options {
    display: block;
  }
  .social .options p {
    font-family: 'Raleway', sans-serif;
  }
  .social .options:first-child {
    margin-top: 20px;
  }
  .social .follow {
    display: none;
  }
}

/*******************************************************
COLORS
*******************************************************/
/*******************************************************
TEAM PAGE
*******************************************************/
.landing {
  padding-top: 160px;
}

.landing h1 {
  display: none;
  -ms-grid-row-align: center;
      align-self: center;
}

.members {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  padding: 0 20px 0 20px;
}

.members .core-member:not(:first-child), .members .board-member:not(:first-child) {
  margin-top: 110px;
}

.member-picture {
  width: 150px;
  margin-top: -70px;
}

.core-member, .board-member {
  background: #EDEDED;
  text-align: center;
  padding: 0 20px;
}

.core-member h1, .board-member h1 {
  color: #306;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.core-member h5, .board-member h5 {
  margin-top: 10px;
  color: #9933ff;
  font-size: 1.01em;
}

.core-member p, .board-member p {
  margin: 20px 0;
}

.core-member .social-icons, .board-member .social-icons {
  margin-bottom: 20px;
}

.advisory-board {
  display: none;
}

.board-member {
  background-color: #306;
  color: white;
}

.how-we-work {
  background-image: url("../images/background-decoration-green.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 7%;
  background-color: white;
  color: #306;
  padding-top: 50px;
}

.values {
  color: #3C3C3B;
  padding: 40px;
}

.values .value {
  text-align: center;
  margin-bottom: 40px;
}

.values .value img {
  width: 30px;
}

.values .value h3 {
  margin-top: 10px;
}

/*******************************************************
TABLET 
*******************************************************/
@media (min-width: 641px) {
  .landing {
    padding-top: 60px;
  }
  .landing h1 {
    display: block;
    margin-bottom: 100px;
    font-size: 2em;
  }
  .members, .advisory-board {
    align-items: stretch;
    justify-content: space-between;
    padding: 0 100px;
  }
  .members .core-member:nth-child(odd), .members .board-member:nth-child(odd), .advisory-board .core-member:nth-child(odd), .advisory-board .board-member:nth-child(odd) {
    margin-right: 7.5px;
  }
  .members .core-member:nth-child(even), .members .board-member:nth-child(even), .advisory-board .core-member:nth-child(even), .advisory-board .board-member:nth-child(even) {
    margin-left: 7.5px;
  }
  .members .core-member, .members .board-member, .members .board-member, .advisory-board .core-member, .advisory-board .board-member, .advisory-board .board-member {
    margin-bottom: 15px;
  }
  .core-member, .board-member {
    margin-top: 0 !important;
    flex: 1 0 40%;
    padding: 0 20px;
  }
  .member-picture.board {
    margin-top: 20px;
  }
  .advisory-board {
    display: flex;
    background-color: white;
    padding: 20px 100px;
    flex-wrap: wrap;
  }
  .advisory-board .board-member {
    display: block;
    padding-bottom: 20px;
  }
  .advisory-board .board-member .name {
    color: white;
  }
  .advisory-board .board-member .profile {
    color: #9933ff;
    margin-top: 40px;
  }
  .values {
    padding: 0 80px;
  }
  .value:nth-child(odd) {
    text-align: left;
    padding-right: 30vw;
  }
  .value:nth-child(even) {
    text-align: right;
    padding-left: 30vw;
  }
  /*******************************************************
    EXPERIENCE
    *******************************************************/
  .experience {
    display: block;
    padding: 40px 80px 79px 80px;
    background-color: white;
  }
  .experience img {
    opacity: 0.5;
    width: 60vw;
  }
  .experience .phrase {
    max-width: 40vw;
    position: absolute;
    right: 80px;
    z-index: 1;
    margin-top: 50px;
    color: #306;
  }
}
