<footer class="page-footer">
  <div class="slogan">
    <p>everytime, everywhere</p>
    <img class="arrow down" src="images/arrow-green.png" alt="green arrow down">
  </div>
  <div class="adresses">
    <p class="coffee">Wanna have a coffee?</p>

    <div class="countries">
      <div class="country">
        ARGENTINA
        <hr> Gonnet 1897 <br> Buenos Aires <br> Tel 221 643 2575 <br>
      </div>
    </div>
  </div>
  <div class="social">
    <div class="options">
      <a href="{{ newProjectLink }}">{{ newProjectLinkContent }}</a>
      <a href="{{ languageLink }}">{{ languageLinkContent }}</a>
    </div>
    <p class="follow">Follow us</p>
    
    {{> _social }}
  </div>
  
</footer>
<script src="js/main.js"></script>

<script>
  /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97422807-1', 'auto');
  ga('send', 'pageview');*/

</script>

</body>

</html>
