<footer class="page-footer">
  <div class="slogan">
    <p>everytime, everywhere</p>
    <img class="arrow down" src="images/arrow-green.png" alt="green arrow down">
  </div>
  <div class="adresses">
    <p class="coffee">Wanna have a coffee?</p>

    <div class="countries">
      <div class="country">
        ARGENTINA
        <hr> Camargo 7351 1A <br> Buenos Aires <br> Tel 221 643 2575 <br>
      </div>
      <div class="country">
        ESPAÑA
        <hr> Camargo 7351 1A <br> Buenos Aires <br> Tel 221 643 2575 <br>
      </div>
    </div>
  </div>
  <div class="social">
    <div class="options">
      <p>START A PROJECT</p>
      <p>VER EN ESPAÑOL</P>
    </div>
    <p class="follow">Follow us</p>
    
    {{> _social }}
  </div>
</footer>
<script src="js/main.js"></script>

</body>

</html>
