<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ubykuo</title>
  <meta name="description" content="everytime. everywhere.">
  <meta name="keywords" content="ubykuo">
  <meta name="theme-color" content="#306">
  <link rel="icon" href="favicon.ico">
  <link rel="manifest" href="manifest/manifest.json">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800|Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/{{stylesheet}}.css" type="text/css">
  <style type="text/css">
  </style>
</head>

<body>
  <div class="overlay hidden">
    <a href="/">
      <svg id="logo" class="logo-landing" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" width="40px" height="40px" viewBox="0 0 140 50" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #D0D2D3;
          }

          .st1 {
            fill: #38E090;
          }

        </style>
        <path id="XMLID_279_" class="st0" d="M31.3,28.3c-3.1,0-5-2.3-5-5.3v-8.4h2.6v8c0,1.8,0.8,3.4,3,3.4c2.1,0,3.1-1.4,3.1-3.4v-8h2.6
                      v10.8c0,1,0.1,2,0.1,2.5h-2.5c-0.1-0.3-0.1-1-0.1-1.6C34.5,27.6,32.8,28.3,31.3,28.3" />
        <path id="XMLID_167_" class="st0" d="M42,27.9v-20h2.6v8.6c0.6-1.2,2.2-2.3,4.4-2.3c4,0,6.1,3.1,6.1,7c0,3.9-2.2,7.1-6.2,7.1
                      c-2,0-3.5-0.9-4.3-2.3v1.9H42z M48.5,16.5c-2.3,0-3.9,1.8-3.9,4.7c0,2.9,1.7,4.7,3.9,4.7c2.4,0,3.9-1.9,3.9-4.7
                      C52.4,18.3,50.9,16.5,48.5,16.5" />
        <polygon id="XMLID_162_" class="st0" points="58.3,33.4 61.6,26.4 55.9,14.6 58.9,14.6 63,23.8 67,14.6 69.8,14.6 61.2,33.4 "
        />
        <polygon id="XMLID_160_" class="st0" points="78.5,20.2 84.3,27.9 81,27.9 76.7,22 74.8,23.9 74.8,27.9 72.3,27.9 72.3,7.9 
                      74.8,7.9 74.8,20.5 80.6,14.6 84.2,14.6 " />
        <path id="XMLID_146_" class="st0" d="M91.4,28.3c-3.1,0-5-2.3-5-5.3v-8.4h2.6v8c0,1.8,0.8,3.4,3,3.4c2.1,0,3.1-1.4,3.1-3.4v-8h2.6
                      v10.8c0,1,0.1,2,0.1,2.5h-2.5c-0.1-0.3-0.1-1-0.1-1.6C94.6,27.6,93,28.3,91.4,28.3" />
        <path id="XMLID_141_" class="st0" d="M114.6,21.2c0,4.1-2.8,7.1-6.8,7.1c-4,0-6.8-3-6.8-7.1c0-4,2.8-7,6.8-7
                      C111.8,14.2,114.6,17.2,114.6,21.2 M111.9,21.2c0-3.1-1.9-4.7-4.1-4.7c-2.2,0-4.1,1.7-4.1,4.7c0,3.1,1.9,4.7,4.1,4.7
                      C110,26,111.9,24.3,111.9,21.2" />
        <polygon id="ubykuo-caret" class="st1 caret-down" points="70.4,43.8 64.8,39.2 66.7,36.8 70.4,39.9 74.1,36.8 76.1,39.2 " />
      </svg>
    <a>

    <a onclick="toggleNav()">
      <svg class="close" viewbox="0 0 40 40">
        <path d="M 10,10 L 30,30 M 30,10 L 10,30" />
      </svg>
    </a>
    
    <div class="links">
      <ul>
        <!-- <svg class="morph" viewBox="-10 -20 80 80">
          <path id="services-from" class="from" d="M-20,40 H50"></path>
          <path class="to"  id="services-to" from="to" xmlns="http://www.w3.org/2000/svg" d="M10 4.2l5.8 5.8L10 15.8 4.2 10 10 4.2M10 0L0 10l10 10 10-10L10 0 10 0z"/>
        </svg> -->
        <hr align="right">
        <li><a href="/services.html">SERVICES</a></li>
        <hr align="right">
        <li><a href="/team.html">THE TEAM</a></li>
        <hr align="right">
        <li><a href="/contact.html">CONTACT US</a></li>
        <hr align="right">
        <li><a href="/join.html">JOIN</a></li>
      </ul>
    </div>

    <div class="social">
      <div class="container">
        <p>Get social with us</p>
        <hr align="left">
        <hr align="center">
        {{> _social }}
      </div>
    </div>
  </div>
  
  <header class="navigation">
    <ul id="nav" class="nav purple">
      <li>
        <a href="/">
          <svg class="logo-landing" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" width="40px" height="40px" viewBox="0 0 140 50" xml:space="preserve">
            <style type="text/css">
              .st0 {
                fill: #D0D2D3;
              }

              .st1 {
                fill: #38E090;
              }

            </style>
            <path id="XMLID_279_" class="st0" d="M31.3,28.3c-3.1,0-5-2.3-5-5.3v-8.4h2.6v8c0,1.8,0.8,3.4,3,3.4c2.1,0,3.1-1.4,3.1-3.4v-8h2.6
                    v10.8c0,1,0.1,2,0.1,2.5h-2.5c-0.1-0.3-0.1-1-0.1-1.6C34.5,27.6,32.8,28.3,31.3,28.3" />
            <path id="XMLID_167_" class="st0" d="M42,27.9v-20h2.6v8.6c0.6-1.2,2.2-2.3,4.4-2.3c4,0,6.1,3.1,6.1,7c0,3.9-2.2,7.1-6.2,7.1
                    c-2,0-3.5-0.9-4.3-2.3v1.9H42z M48.5,16.5c-2.3,0-3.9,1.8-3.9,4.7c0,2.9,1.7,4.7,3.9,4.7c2.4,0,3.9-1.9,3.9-4.7
                    C52.4,18.3,50.9,16.5,48.5,16.5" />
            <polygon id="XMLID_162_" class="st0" points="58.3,33.4 61.6,26.4 55.9,14.6 58.9,14.6 63,23.8 67,14.6 69.8,14.6 61.2,33.4 "
            />
            <polygon id="XMLID_160_" class="st0" points="78.5,20.2 84.3,27.9 81,27.9 76.7,22 74.8,23.9 74.8,27.9 72.3,27.9 72.3,7.9 
                    74.8,7.9 74.8,20.5 80.6,14.6 84.2,14.6 " />
            <path id="XMLID_146_" class="st0" d="M91.4,28.3c-3.1,0-5-2.3-5-5.3v-8.4h2.6v8c0,1.8,0.8,3.4,3,3.4c2.1,0,3.1-1.4,3.1-3.4v-8h2.6
                    v10.8c0,1,0.1,2,0.1,2.5h-2.5c-0.1-0.3-0.1-1-0.1-1.6C94.6,27.6,93,28.3,91.4,28.3" />
            <path id="XMLID_141_" class="st0" d="M114.6,21.2c0,4.1-2.8,7.1-6.8,7.1c-4,0-6.8-3-6.8-7.1c0-4,2.8-7,6.8-7
                    C111.8,14.2,114.6,17.2,114.6,21.2 M111.9,21.2c0-3.1-1.9-4.7-4.1-4.7c-2.2,0-4.1,1.7-4.1,4.7c0,3.1,1.9,4.7,4.1,4.7
                    C110,26,111.9,24.3,111.9,21.2" />
            <polygon id="XMLID_123_" class="st1 caret-down" points="70.4,43.8 64.8,39.2 66.7,36.8 70.4,39.9 74.1,36.8 76.1,39.2 " />
          </svg>
        </a>
      </li>

      <li class="controls">
        <div class="social">
          <a onclick="toggleNav()">
            <svg class="item navigation-icon " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 40 18" style="enable-background:new 0 0 40 18;" xml:space="preserve">
              <style type="text/css">
                .hamburguer rect {
                  /**fill: #330066; **/
                  /
                }

              </style>

              <g class="hamburguer">
                <rect class="line top-line" width="40" height="6" />
                <rect y="12" class="line bottom-line" width="30" height="6" />
              </g>
            </svg>
          </a>
          
          <div class="social-icons">
            {{> _social }}
          </div>
        </div>
      </li>
    </ul>
  </header>

  <header id="nav-mobile" class="navigation-mobile" background-color="white">
    <ul class="nav white">
      <li>
        <a href="/">
          <svg class="logo-landing" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" width="40px" height="40px" viewBox="0 0 140 50" xml:space="preserve">
            <style type="text/css">
              .st0 {
                fill: #D0D2D3;
              }

              .st1 {
                fill: #38E090;
              }

            </style>
            <path id="XMLID_279_" class="st0" d="M31.3,28.3c-3.1,0-5-2.3-5-5.3v-8.4h2.6v8c0,1.8,0.8,3.4,3,3.4c2.1,0,3.1-1.4,3.1-3.4v-8h2.6
                    v10.8c0,1,0.1,2,0.1,2.5h-2.5c-0.1-0.3-0.1-1-0.1-1.6C34.5,27.6,32.8,28.3,31.3,28.3" />
            <path id="XMLID_167_" class="st0" d="M42,27.9v-20h2.6v8.6c0.6-1.2,2.2-2.3,4.4-2.3c4,0,6.1,3.1,6.1,7c0,3.9-2.2,7.1-6.2,7.1
                    c-2,0-3.5-0.9-4.3-2.3v1.9H42z M48.5,16.5c-2.3,0-3.9,1.8-3.9,4.7c0,2.9,1.7,4.7,3.9,4.7c2.4,0,3.9-1.9,3.9-4.7
                    C52.4,18.3,50.9,16.5,48.5,16.5" />
            <polygon id="XMLID_162_" class="st0" points="58.3,33.4 61.6,26.4 55.9,14.6 58.9,14.6 63,23.8 67,14.6 69.8,14.6 61.2,33.4 "
            />
            <polygon id="XMLID_160_" class="st0" points="78.5,20.2 84.3,27.9 81,27.9 76.7,22 74.8,23.9 74.8,27.9 72.3,27.9 72.3,7.9 
                    74.8,7.9 74.8,20.5 80.6,14.6 84.2,14.6 " />
            <path id="XMLID_146_" class="st0" d="M91.4,28.3c-3.1,0-5-2.3-5-5.3v-8.4h2.6v8c0,1.8,0.8,3.4,3,3.4c2.1,0,3.1-1.4,3.1-3.4v-8h2.6
                    v10.8c0,1,0.1,2,0.1,2.5h-2.5c-0.1-0.3-0.1-1-0.1-1.6C94.6,27.6,93,28.3,91.4,28.3" />
            <path id="XMLID_141_" class="st0" d="M114.6,21.2c0,4.1-2.8,7.1-6.8,7.1c-4,0-6.8-3-6.8-7.1c0-4,2.8-7,6.8-7
                    C111.8,14.2,114.6,17.2,114.6,21.2 M111.9,21.2c0-3.1-1.9-4.7-4.1-4.7c-2.2,0-4.1,1.7-4.1,4.7c0,3.1,1.9,4.7,4.1,4.7
                    C110,26,111.9,24.3,111.9,21.2" />
            <polygon style="visibility: hidden" class="st1 caret-down" points="70.4,43.8 64.8,39.2 66.7,36.8 70.4,39.9 74.1,36.8 76.1,39.2 " />
          </svg>
        </a>
      </li>

      <li class="controls">
        <div class="social">
          <a onclick="toggleNav()">
            <svg class="item navigation-icon " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 40 18" style="enable-background:new 0 0 40 18;" xml:space="preserve">
              <style type="text/css">
                .hamburguer rect {
                  /**fill: #330066; **/
                  /
                }

              </style>

              <g class="hamburguer">
                <rect class="line top-line" width="40" height="6" />
                <rect y="12" class="line bottom-line" width="30" height="6" />
              </g>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </header>
