{{> _navigation}}
    <div class="all">
        <section class="landing center">

            <h1>{{ inTouch }}!</h1>
            <p>{{emailUs}} info@ubykuo.com <br>{{ details }}</br>
            </p>
        </section>

        <div class="sections">
            <div id="mobile-nav-hide"></div>
            <section class="form-section">
                <div class="form-container">
                    <form class="form" action="/webformmailer.php" method="post">
                        <input type="text" name="name" placeholder="{{ name }}" required>
                        <input type="email" name="email" placeholder="{{ email }}" required>

                        <p class="question">{{ question }}</p>

                        <div class="options">
                            {{#offers}}
                                <div class="option">
                                    <input id="{{ value }}" name="{{ value }}" type="checkbox" class="css-checkbox">
                                    <label for="{{ value }}" class="css-label"><span>{{ name }}</span></label>
                                </div>
                            {{/offers}}
                        </div>

                        <textarea class="message" name="message" placeholder="{{ message }}"></textarea>
                    </form>

                    <div class="center">
                        <button type="submit" class="button-terciary">{{ send }}</button>
                    </div>
                </div>
            </section>

            <section class="follow-us">
                <p>{{ emailUs }} <a href="mailto: info@ubykuo.com">info@ubykuo.com</a></p>
                <p>{{ and }}</p>

                <hr>
                <br>

                <h1>{{ followUs }}</h1>
                <p>{{ promise }}</p>
            </section>
        </div>

    </div>

{{> _footer }}

<script>
    changeNavColor('white');
</script>
