 {{> _navigation}}
<main id="main">
  <div id="landing" class="landing" onerror="alert('error')">

    <div class="claim">
      <hr class="left">
      <h1 class="title">{{title}}.</h1>
      <hr class="left">
      <p class="slogan">{{claim}}</p>
    </div>

    <div class="swipe-down">
      <p>Swipe down!</p>
      <img class="arrow down" src="images/arrow-green.png" alt="swipe down arrow">
    </div>
  </div>


  <div class="parallax-surface">
    <div id="intersection" data-mobile-down="purple" data-mobile-up="purple" data-tablet-down-class="white" data-tablet-up-class="purple"></div>
    <div id="parallax" class="parallax"></div>
    <!-- Offers -->
    <section class="offers">
      {{#offers}}
      
        <article class="offer">
          <div class="content">
            <img class="icon" src="{{icon}}" alt="mvp offer logo">
            <h1>{{name}}</h1>
            <hr class="left">
            <p>{{description}}

            </p>
            <a class="learn-more" href="services.html">+Learn more</a>
            <img class="arrow" src="images/arrow-dark-purple.png" alt="show less arrow">
          </div>

          <footer class="action">
            <a class="button" href="index.html">I want it</a>
          </footer>
        </article>

    {{/offers}}

      <article class="offer custom">
        <div class="content">
          <h1>Plan to suite your projects need </h1>
          <a class="button-secondary" href="index.html">I want it</a>
          <a class="more-info link-secondary" href="services.html">+ more info!</a>
        </div>
      </article>


      <div id="wave" class="wave"></div>
    </section>

    <!-- Etiam -->
    <section class="work">
      <div class="carousel">
        <div>
          <img draggable="true" src="images/etiam-1.webp" onerror="this.onerror=null; this.src='images/etiam-1.jpg'" alt="etiam picture">
        </div>
      </div>
    </section>

    <div class="forms">
      <!-- Contact us !-->
      <section class="contact-us">
        <hr>
        <div class="content">
          <h1>Contact us</h1>
          <p class="contact-phrase">We are waiting for your nice words :) <br><br> Don't doubt, just ask whatever you have in mind
          </p>
        </div>

        <div class="form-container">
          <form class="form">
            <input type="text" name="company_name" placeholder="Your company name">
            <input type="email" name="contact_email" placeholder="Your email adress">
            <textarea name="description" placeholder="What can we do for you?"></textarea>

            <br>

            <div class="center">
              <a class="button-secondary" href="index.html">Send</a>
            </div>
          </form>
        </div>
      </section>

      <!-- Join us !-->
      <section class="join-us">

        <div class="background">
          <hr>
          <div class="content">
            <h1>Join us</h1>
            <p>Let's build cool stuff together</p>
          </div>

          <div class="form-container">
            <form class="form">
              <div class="custom-file-input">
                <input type="file" name="file" id="file">
                <div class="wrapper">
                  <label for="file" class="file-input">Upload your CV! <i class="icon fa fa-arrow-up " aria-hidden="true"></i></label>
                </div>
              </div>

              <br>
              <div class="center">
                <a class="button-secondary" href="index.html">Send</a>
              </div>
            </form>
          </div>
        </div>
        <div class="follow">
          <br>
          <hr class="left">
          <h1>Follow us</h1>
          <p>We promise not to share cat videos...</p>
        </div>
      </section>
    </div>
  </div>

  <script>
    var mq = window.matchMedia( "(min-width: 641px)" );
    
    if (mq.matches) {
      document.addEventListener("DOMContentLoaded", scrollLoop, false);
      
      /**
      * PARALLAX CONFIGURATION
      */
      var xScrollPosition;
      var yScrollPosition;

      var parallax = document.getElementById('parallax');
      var wave = document.getElementById('wave');

      function scrollLoop(e) {
        xScrollPosition = window.scrollX;
        yScrollPosition = window.scrollY;

        setTranslate(0, yScrollPosition * -0.4, parallax);
        setTranslate(0, yScrollPosition * -0.2, wave);

        requestAnimationFrame(scrollLoop);
      }

      function setTranslate(xPos, yPos, el) {
        el.style.transform = "translate3d(" + xPos + ", " + yPos + "px, 0)";
      }

    }

  </script>
</main>
{{> _footer }}
