
    {{> _navigation}}
    <section class="landing center">

        <h1>{{ title }}</h1>
        <p>{{ description }}
        </p>
        <a href="contact.html" class="get-in-touch link-secondary white">+get in touch!</a>
    </section>

    <div id="mobile-nav-hide"></div>
    
    <div class="parallax-surface">
        <div id="parallax" class="parallax-services"></div>
        
        <section class="offers">
            {{#offers}}
            <div class="offer">
                <div class="question">{{ question }}</div>

                <div class="overlapped-heading">
                    <h1 class="title-tablet">{{ name }}</h1>
                    <a href="/contact.html">+ Yes I do!</a>
                </div>

                <div class="content">
                    <div class="heading">
                        <h1 class="title-tablet">{{ name }}</h1>
                        <hr class="left tablet">
                        <img class="icon" src="{{ icon }}" alt="{{ icon-alt }}">
                    </div>

                    <h1 class="title">{{ name }}</h1>

                    <hr class="left">

                    <div class="description">
                        <h4 class="question-tablet">{{ question }}</h4>

                        <p><b>{{ description }}</b>{{ descriptionCont }}
                        </p>
                    </div>
                </div>
            </div>
            {{/offers}}
            <div id="intersection" data-mobile-down="purple" data-mobile-up="purple" data-tablet-down-class="purple" data-tablet-up-class="white"></div>
        </section>
        <section class="boxing-offers">
            <h1>{{ boxing.title }}</h1>

            <div class="subparagraph">
                <div class="offer-phrase-tablet">
                    <h1>{{ boxing.title }}</h1>
                    <p>
                        {{ boxing.description }}<br class="break"><br class="break">                    Here we show different offers of digital products and services. <br class="break"><br class="break">                    Every offer can be changed in order your needs and goals.<br class="break">
                        <br> {{ boxing.claim }}
                        <br>
                        <br>
                        <a href="/contact.html" class="link">+ Get in touch!</a>
                    </p>
                </div>

                <div class="boxing-offers-tablet">
                    {{# boxing.offers }}
                        <div class="{{ class }}" onclick="toggleBoxingOffer(this)">
                            <img class="arrow down" src="images/arrow-grey.png" 
                                alt="green arrow pointing down" />
                            <h3>{{ name }}</h3>
                            
                            <div class="description">
                                <a href="/contact.html">+ I want it!</a>
                                <p>{{ description }}</p>
                            </div>
                        </div>
                    {{ /boxing.offers }}
                </div>
            </div>

            <div class="carrousel">
                <div class="boxing-offer">
                    <h2>Web layout</h2>

                    <p> Prototype Web in HTML5 with CSS3 responsive and Javascript to test the concept both web and mobile.
                    </p>
                </div>
                <div class="price">
                    <h1>USD 4800</h1>
                    <p>1 month</p>
                </div>

                <div class="slider">
                    <svg width="40" height="30" class="circle selected">
                        <circle cx="15" cy="15" r="12.5" />
                    </svg>
                    <svg width="40" height="30" class="circle">
                        <circle cx="15" cy="15" r="12.5" />
                    </svg>
                    <svg width="40" height="30" class="circle">
                        <circle cx="15" cy="15" r="12.5" />
                    </svg>
                    <svg width="40" height="30" class="circle">
                        <circle cx="15" cy="15" r="12.5" />
                    </svg>
                </div>
            </div>
        </section>

        <section class="they-trust-us">
            <h1>{{ trust.title }}</h1>

            <div class="client-quote">
                <h4>“{{ trust.quote }}”</h4>
                <p>{{ trust.client }}</p>
            </div>

            <div class="clients">
                {{#clients}}
                    <div class="client">
                        <img src="{{icon}}" alt="{{alt}}" />
                    </div> 
                {{/clients}}
                
            </div>
        </section>

    </div>
    
    <script src="js/Parallax.js"></script>

    <script>
        var tabletAndHigher = window.matchMedia( "(min-width: 641px)" );

        if (tabletAndHigher.matches) {
            function toggleBoxingOffer(element) {
                element.classList.toggle('active');
            }
        }
        
        var parallax = new Parallax([
            {
                offset: -0.4,
                selector: '#parallax'
            }
        ]);

        document.addEventListener('DOMContentLoaded', parallax.onScroll.bind(parallax), true);
        
        
    </script>
    {{> _footer }}

<script>
    changeNavColor('white');
</script>
