{{> _navigation}}
    <div id="landing" class="landing">

        <h1>It's time we meet</h1>
    </div>

    <div class="members">
        <div class="core-member">
            <img class="member-picture" src="images/santi-figueiras-circular.png" alt="santiago figueiras picture">

            <h1>SANTI FIGUEIRAS</h1>
            <hr>
            <h5>COFOUNDER | DEVELOPMENT DIRECTOR</h5>

            <p><b>Specialist in developing sustainable, scalable and quality solutions.</b><br> Always in search of opportunities
                to innovate incorporating new technologies.
            </p>

            <div class="social-icons">
                <img src="images/facebook-grey.png" alt="facebook logo grey">
                <img src="images/instagram-grey.png" alt="instagram logo grey">
                <img src="images/linkedin-grey.png" alt="linkedin logo grey">
            </div>
        </div>

        <div class="core-member">
            <img class="member-picture" src="images/juanjo-figueiras-circular.png" alt="juanjo figueiras picture">

            <h1>JUANJO FIGUEIRAS</h1>
            <hr>
            <h5>COFOUNDER | STRATEGY & INNOVATION</h5>

            <p><b>More than 20 years developing Business and Technologies</b> based on Services in several countries. He has
                been Director of verticals .com and Mentor of entrepreneurs of La Plata HUB and the NAVES program of IAE.
            </p>

            <div class="social-icons">
                <img src="images/facebook-grey.png" alt="facebook logo grey">
                <img src="images/instagram-grey.png" alt="instagram logo grey">
                <img src="images/linkedin-grey.png" alt="linkedin logo grey">
            </div>
        </div>
    </div>

    <div class="advisory-board">
        <div class="board-member">
            <img class="member-picture board" src="images/santi-figueiras-circular.png" alt="santiago figueiras picture">
            <h1 class="name">Santiago Figueiras</h1>

            <img class="arrow" src="images/arrow-green.png" alt="arrow green pointing up">
            <h4 class="profile">JAVA DEVELOPER</h4>
            <img src="images/facebook-grey.png" alt="facebook logo grey">
            <img src="images/instagram-grey.png" alt="instagram logo grey">
            <img src="images/linkedin-grey.png" alt="linkedin logo grey">
        </div>

        <div class="board-member">
            <img class="member-picture board" src="images/santi-figueiras-circular.png" alt="santiago figueiras picture">
            <h1 class="name">Santiago Figueiras</h1>

            <img class="arrow" src="images/arrow-green.png" alt="arrow green pointing up">
            <h4 class="profile">JAVA DEVELOPER</h4>
            <img src="images/facebook-grey.png" alt="facebook logo grey">
            <img src="images/instagram-grey.png" alt="instagram logo grey">
            <img src="images/linkedin-grey.png" alt="linkedin logo grey">
        </div>

        <div class="board-member">
            <img class="member-picture board" src="images/santi-figueiras-circular.png" alt="santiago figueiras picture">
            <h1 class="name">Santiago Figueiras</h1>

            <img class="arrow" src="images/arrow-green.png" alt="arrow green pointing up">
            <h4 class="profile">JAVA DEVELOPER</h4>
            <img src="images/facebook-grey.png" alt="facebook logo grey">
            <img src="images/instagram-grey.png" alt="instagram logo grey">
            <img src="images/linkedin-grey.png" alt="linkedin logo grey">
        </div>

        <div class="board-member">
            <img class="member-picture board" src="images/santi-figueiras-circular.png" alt="santiago figueiras picture">
            <h1 class="name">Santiago Figueiras</h1>

            <img class="arrow" src="images/arrow-green.png" alt="arrow green pointing up">
            <h4 class="profile">JAVA DEVELOPER</h4>
            <img src="images/facebook-grey.png" alt="facebook logo grey">
            <img src="images/instagram-grey.png" alt="instagram logo grey">
            <img src="images/linkedin-grey.png" alt="linkedin logo grey">
        </div>
    </div>

    <section class="how-we-work">
        <h1>How we work</h1>

        <div class="values">
            <div class="value">
                <img src="images/square-green.png" alt="green square">
                <h3>We make your projects come true</h3>

                <p>We work as a team with our clients enhancing their digital projects with our experience in design, usability,
                    technologies and software.
                </p>
            </div>

            <div class="value">
                <img src="images/marker-green.png" alt="green marker">
                <h3>Focus on user experience</h3>

                <p>We analyze technology, market, and users behaviour, to design simple and intuitive interfaces that enhance
                    business objectives.
                </p>
            </div>

            <div class="value">
                <img src="images/circle-green.png" alt="green square">
                <h3>Technology made simple</h3>

                <p>We build apps with technology that optimize resources and usability, making it invisible for users and clients
                    as well.
                </p>
            </div>
        </div>
    </section>

    <section class="experience">
        <h1 class="phrase">Más de 10 años de experiencia construyendo productos y servicios.</h1>
        <img class="transparentize" src="images/background-landing-estatico-compressed.png" alt="purple clode image">
    </section>

{{> _footer }}